<div>                  <!-- -->
<a href="/home"><button> HOME </button></a>     <!--redirects to home -->
  <button> OUR TRACK </button>
<a href="/about"> <button> ABOUT us </button> </a>  <!--About us  -->
  <a href="/studentlist"> <button> STUDENT LIST </button> </a>   <!-- Displays Studentlist (MOST IMPORATANT)-->
</div>
