 <!--Form to add new tudent to database -->
    <form  action="/studentlist2" method="post">
      <input type="text" name=datas[name] placeholder="Name">
      <input type="text" name=datas[class] placeholder="Class">
      <input type="text" name=datas[section] placeholder="Section">

        <input type="submit">
   </form>
